<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.berkley.food.store.pos.machine.foodback.mapper.UserInfoMapper">
  <select id="selectUserInfo" resultType="UserInfoDto">
    select * from T_USER
  </select>
  
  <insert id="insertUserInfo">
    insert into T_USER
      (user_name, user_age, user_sex, user_phone, user_number, user_card_password)
    values (#{userName}, #{userAge}, #{userSex}, #{userPhone}, #{userNumber}, #{userCardPassword})
  </insert>

  <delete id="deleteUserInfo">
    delete from T_USER
  </delete>
  <!-- where uno = #{uno} -->


  <!-- 사용자 생성 시 한정으로 가장 최근 생성 된 테이블 중 uno 마지막 로그 출력 -->
  <select id="selectLastRowUno" resultType="Long">
    select uno from T_USER order by uno desc limit 1;
  </select>
</mapper>